<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper shishu-light-bg">
      <a href="https://exodus.craft-rom.pp.ua/" class="brand-logo"><img src="https://raw.githubusercontent.com/ExodusOS/.github/master/craftrom.png" class="responsive-img circle avatar" alt="ExodusOS"></a>
      <a href="#" data-target="btlg-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="text-uppercase"><a href="https://www.craft-rom.pp.ua/about/">About us</a></li>
      </ul>
    </div>
  </nav>
</div>

  <ul class="shishu-midlight-bg sidenav" id="btlg-menu">
    <li{% if page.url == site.baseurl %} class="active"{% endif %}><a href="https://www.craft-rom.pp.ua/about/">About</a></li>
  </ul>